* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #000000;
    color: #ffffff;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 20.5rem;
    border-radius: 0.5rem;
    /*16px*/
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #121212;
    flex: 1;
    height: 100%;
    border-radius: 0.5rem;
    overflow: auto;
    /*scroll bar will only be shown when needed*/
    margin-left: 0.5rem;
    padding: 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
    padding: 0.5rem 2.5rem;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    line-height: 2.5rem;

}

.nav-option {
    padding: 0.25rem 0.75rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    opacity: 0.8;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    height: 26.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    height: 100%;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-left: 1.5rem;
    font-size: 1rem;
    opacity: 0.8;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    border-radius: 0.5rem;
    /* height: 9rem; */
    margin: 0.75rem 0 1.5rem 0;
    padding: 1rem 1.25rem;
}

.box-p1 {
    font-size: 0.9rem;
    font-weight: 700;
    /* margin-bottom: 1rem; */
    line-height: 1.6rem;
}

.box-p2 {
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0.75rem 0 1.25rem 0;
    line-height: 1.25rem;
    opacity: 0.9;
}

.badge {
    height: 2.25rem;
    width: fit-content;
    padding: 0.25rem 1rem;
    font-size: 0.79rem;
    font-weight: 700;
    border-radius: 100px;
    border: none;
}

.darkbadge {
    background-color: black;
    color: white;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;

}

.sticky-nav-icons {
    margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitem {
    margin-right: 1rem;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}


.content h2 {
    margin: 1.5rem 0;
}

